<style>
    #modal {
        background-color: rgba(30, 30, 30, .5);
    }
</style>
<div id="header">
    <div class="input-group mb-1">
      <input class="form-control" type="text" placeholder="Buscar turnos" [(ngModel)]="filterTerm">
      <button class="btn btn-outline-secondary" type="button">Buscar</button>
    </div>
  </div>
  <div id="body">
    <div id="component-wrapper">
      <div id="person-grid-wrapper">
        <div id="table-wrapper" class="layout">
          <table>
            <thead>
              <th>Fecha</th>
              <th>Especialista</th>
              <th>Especialidad</th>
              <th>Estado</th>
              <th>Acción</th>
            </thead>
            <tbody *ngIf="filtered && filtered.length">
              <tr *ngFor="let appointment of filtered">
                <td>{{ appointment.date | dateTime }}</td>
                <td>{{ appointment.specialist.lastname }} {{ appointment.specialist.firstname }}</td>
                <td>{{ appointment.speciality }}</td>
                <td>{{ appointment.status | status: 'patient'}}</td>
                <td>
                  <button title="Cancelar" *ngIf="appointment.status === 'taken' || appointment.status === 'accepted'" class="btn btn-danger btn-sm" (click)="trigger('cancel', appointment)" style="margin:2px;"><i class="fas fa-calendar-times"></i></button>
                  <button title="Comentarios" *ngIf="appointment.review" class="btn btn-warning btn-sm" (click)="trigger('review', appointment)" style="margin:2px;"><i class="fas fa-comments"></i></button>              
                  <button title="Calificar" *ngIf="appointment.status === 'finalized' && !appointment.rating" class="btn btn-success btn-sm" (click)="trigger('rate', appointment)" style="margin:2px;"><i class="fas fa-thumbs-up"></i></button>
                  <button title="Encuesta" *ngIf="appointment.status === 'finalized' && appointment.review" class="btn btn-secondary btn-sm" (click)="trigger('survey', appointment)" style="margin:2px;"><i class="fas fa-poll-h"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>