<div id="modal" tabindex="-1" role="dialog" class="modal fade show" style="display: block;">
    <div role="document" class="modal-dialog" style="top: 100px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(237, 237, 237); color: rgb(89, 88, 88);">
                <h5 id="exampleModalLabel" class="modal-title">Finalizar Turno</h5>
                <button type="button" class="close" (click)="reject()">
                    <span>×</span>
                </button>
            </div>
            <div *ngIf="finalizeStep === 1" class="modal-body">
                <p>Esta operación dará por finalizado el turno de <strong>{{item.patient.firstname}} {{item.patient.lastname}}</strong> el día <strong>{{toDateString(item.date)}}</strong> a las <strong>{{item.date | date:'shortTime'}}</strong>, atención en <strong>{{item.speciality}}</strong>.</p>   
                <div class="form-group">
                    <textarea class="form-control" [ngClass]="{'is-invalid': isInvalid}" cols="30" rows="3" placeholder="Diagnóstico del paciente." [(ngModel)]="diagnosis"></textarea>
                    <div [ngClass]="{'invalid-feedback': isInvalid, 'valid-feedback': !isInvalid}">
                        Campo requerido.
                    </div>                      
                </div> 
                <div class="form-group">
                    <textarea class="form-control" [ngClass]="{'is-invalid': isInvalid}" cols="30" rows="3" placeholder="Otros comentarios." [(ngModel)]="comments"></textarea>
                    <div [ngClass]="{'invalid-feedback': isInvalid, 'valid-feedback': !isInvalid}">
                        Campo requerido.
                    </div>                      
                </div>   
            </div>
            <div *ngIf="finalizeStep === 2" class="modal-body">
                <p>Esta operación dará por finalizado el turno de <strong>{{item.patient.firstname}} {{item.patient.lastname}}</strong> el día <strong>{{toDateString(item.date)}}</strong> a las <strong>{{item.date | date:'shortTime'}}</strong>, atención en <strong>{{item.speciality}}</strong>.</p>   
                <div class="form-group">
                     
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="confirm($event)">Confirmar</button>
                <button type="button" class="btn btn-secondary" (click)="reject()">Deshacer</button>
            </div>
        </div>
    </div>
</div>