<h2 id="header" class="display-5">Agenda de Turnos - Clinica OMED</h2>
<div id="tab-container">
    <nav id="tab-header">
        <div id="tab" class="nav nav-tabs">
            <button class="nav-link active">Turnos</button>
        </div>
    </nav>
    <div id="tab-body" class="tab-content">
        <div class="tab_container">
            <app-specialist-appointments-grid [appointments]="appointments" [records]="records" [filtered]="appointments" (action)="trigger($event)"></app-specialist-appointments-grid>
        </div>
    </div>
</div>
<app-specialist-appointment-modal *ngIf="showModal" [item]="selectedAppointment" [mode]="modalMode" (response)="onModalResponse($event)"></app-specialist-appointment-modal>
<!-- <app-specialist-finalize-modal *ngIf="showModal && modalMode === 'finalize'" (response)="onModalResponse($event)"></app-specialist-finalize-modal> -->